.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout__ad{
    margin-bottom: 10px;
    object-fit: contain;
    display: flex;
}

.checkout__left{
    width: 75%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}
.checkout__leftInfo > h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkout__right{
    flex-grow: 0;
}